* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 75px; /* Ensure content starts below the navigation bar */
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    position: fixed;
    top: 0; /* Keep the navigation bar at the top */
    background-color: #539ccf;
    background-image: image();
}

nav .Shivam-Dental-Clinic h1 {
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: rgb(0, 0, 0);
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul {
    float: right;
    list-style: none;

}


nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Welcome{
    text-align: ; /* Center the welcome message */
    margin-top: 70px; /* Adjust the top margin to position the message */
padding-left: 50px;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color:rgb(0, 0, 0) ;
font-size: 50px;
font-weight: bold;

}

.Welcome-you{
    text-align: ; /* Center the welcome message */
    margin-top: 20px; /* Adjust the top margin to position the message */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
padding-left: 50px;
font-size: 30px;
}

.contact-button {
    background-color: #539ccf;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    bottom: -20px; /* Adjust this value to move the button up or down */
    left: 50px;
  }
  
.imagee
{
    position: relative;
    left: 500px;
    top: 150px;
    width: 600px;
    height: 500px;
    border-radius: 5px;
}

#services{
    
    width: 100%;
    padding: 70px 0;
}

.Services{

text-align: center;
padding-bottom: 70px;
}
.Services p{
    margin: auto;
}  
.imagee
{
    position: relative;
    left: 500px;
    top: 150px;
    width: 600px;
    height: 500px;
    border-radius: 5px;
}